.app-container {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  font-family: system-ui;
}

.content-container {
  padding: 20px;
}

.sidebar-wrapper {
  display: grid;
  grid-template-columns: 15% 1fr;
  column-gap: 3rem;
  transition: all 1s ease;
}

.sidebar.active .sidebar-wrapper {
  grid-template-columns: 15% 1fr 1fr;
}

.posts-container {
  padding: 10px;
  border-radius: 4px;
  background-color: #f5f5f5;
  overflow: auto;
  height: 700px;
  grid-column: 2;
}

.post-item-container {
  grid-column: 3;
  overflow: auto;  
  height: auto;
  max-height: 700px;
}

@media (max-width: 979px) {
  .post-item-container {
    grid-column: auto;
  }
  
  .posts-container {
    grid-column: 1;
  }
  
  .sidebar-wrapper {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .sidebar.active .sidebar-wrapper {
    grid-template-columns: 1fr;
  }
}

.header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.header form {
  display: flex;
  gap: 0.1rem;
}

.header form input {
  background-color: #dfdfed;
  border: 1px solid transparent; /* Color del borde inicial */
  border-radius: 1px;
  padding: 0.5rem; /* Agregado para mejor apariencia */
  transition: border-color 0.3s ease; /* Transición suave para el borde */
}

.header form input:focus {
  border-color: #593fee; /* Cambia el color del borde al hacer focus */
  outline: none; /* Elimina el contorno predeterminado */
}

.header form button {
  background-color: #f0eefd;
  border: 1px solid #4d35c9;
  border-radius: 0 5px 0 0;
  padding: 0.5rem 1rem; /* Agregado para mejor apariencia */
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

.header form button:hover {
  background-color: #5c45ee;
  color: white; /* Color de fondo al pasar el mouse */
}


.sidebar {
  padding: 20px 0;
  background-color: #f5f5f5;
  height: auto;
}

@media (max-width: 979px) {
  .header {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0.5rem;    
  }
 
}
.header h2 {
  font-size: 24px;
  margin: 15px 0;
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.mobile-posts details {
  border-bottom: 1px solid #ddd;  
  margin: 0.5rem 0 0 0;
  padding: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-height: 1.6;
  overflow: hidden;
}

.mobile-posts summary {
  font-size: 1.2rem; 
  color: inherit;
  margin-bottom: 5px;
  list-style: none;
  cursor: pointer;
  padding: 5px 0;
  text-align: left;
}

.mobile-posts .post-content {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
  overflow: auto;
  background-color: #ffffff;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
}

.mobile-posts details[open] .post-content {
  max-height: 1000px;
  opacity: 1;
}

.mobile-posts details[open] summary {
  color: white;
  font-weight: bold;
}

.mobile-posts details[open] {
  background-color: #4d35c9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  margin: 0.5rem 0 0 0;  
}

.mobile-posts details summary::-webkit-details-marker {
  display: none;
}

.mobile-posts details summary:after {
  content: '▼';
  float: right;
  font-size: 0.8rem;
  color: #593fee;
  transition: transform 0.3s ease;
}

.mobile-posts details[open] summary:after {
  transform: rotate(-180deg);
  color: #ffffff;
}

.mobile-posts {
  display: none;
}

@media (max-width: 979px) {
  .mobile-posts {
    display: block;
  }
  
  .post-item-container, .posts-container {
    display: none;
  }
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background 0.3s ease;
  min-height: 3rem;
}

.feed-header.active {
  color: #4d35c9;
  font-weight: bold;
  background-color: #dfdfed;
  border-radius: 5px;
}

.feed-header h3 {
  margin: 0;
  font-size: 16px;
}

.feed-header button {
  display: block;
  background: none;
  opacity: 0;
  border: none;
  color: #ff4d4d;
  font-size: 16px;
  cursor: pointer;
}

.feed-header:hover button {
  opacity: 1;
}

.headline{
  color: #593fee;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  min-height: 3rem; 
  line-height: 1.6;
}

.activated {
  background-color: #f2f1fb;
  color: #593fee;
  font-weight: bold;
}

.selected.rss-item {
  padding: 0rem 1rem 2rem 1rem;
  color: #593fee;
  min-height: 600px;
}

.selected.rss-item h4 {
  font-size: 2rem;
  text-align: left;
  padding: 2rem 0;
}

.rss-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  min-height: 3rem;
  cursor: pointer;
  line-height: 1.6;
}

.rss-item h4 {
  cursor: pointer;
  margin-bottom: 5px;
}

.rss-item span {
  margin-top: 10px;
  color: #555;
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
  max-width: 600px;
  aspect-ratio: 16/9;
  object-fit: contain;
  object-position: left;
}

figcaption {
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1rem;  
}

.rss-item pre, .post-content > pre {
  background-color: #1e1e1e;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 1.5rem 0;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #333;
}

.rss-active a {
  color: #593fee;
  font-weight: bold;
  text-decoration: underline;
}

.confirmation-message { 
  line-height: 1.6;
  margin: 0 auto;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: max-content;
  text-align: center;
  align-content: center;
  color: #000000;
  background-color: #dfdfed;
}

.confirmation-message p {
  padding: 1rem; 
}

.confirmation-message button {
  margin: 0 1rem;
  padding: 0.5rem 2rem; 
  background-color: #ffffff;
  border: 1px solid #ff4d4d;
  border-radius: 5px; 
}

.confirmation-message button:first-of-type {
  background-color: #ffffff;
  border: 1px solid #4d35c9;
  border-radius: 5px; 
}

@media (max-width: 979px) {
  .confirmation-message { 
    line-height: 1.6;
    margin: 0 auto;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%; 
    height: max-content;
    text-align: center;
    align-content: center;
    color: #000000;
    background-color: #dfdfed;
  }

  .confirmation-message button {
    margin: 0 1rem;
    padding: 0.5rem 2rem; 
    background-color: #ffffff;
    border: 1px solid #ff4d4d;
    border-radius: 5px; 
  }

  .confirmation-message button:first-of-type {
    background-color: #ffffff;
    border: 1px solid #4d35c9;
    border-radius: 5px; 
  }
}
/* Estilos para la barra de desplazamiento en navegadores webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  background: #dfdfed; /* Fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #dfdfed; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: #4d35c9; /* Color del pulgar (parte que arrastra) con transparencia */
  border-radius: 10px; /* Bordes redondeados */
  transition: background 0.3s; /* Transición suave al cambiar de color */
}

::-webkit-scrollbar-thumb:hover {
  background: #4d35c9; /* Color del pulgar al pasar el mouse */
}

/* Estilos para la barra de desplazamiento en Firefox */
* {
  scrollbar-width: thin; /* Hacer la barra de desplazamiento más delgada */
  scrollbar-color: #4d35c9 #dfdfed; /* Color del pulgar y fondo */
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.video-container iframe{
  aspect-ratio: 16 / 9;
    width: 100%;
}